<div id='map'></div>

スタート<input type="textbox" id="start" value="" placeholder="名前or緯度経度(例:35.6803997,139.7690174)で検索"><br>
ゴール<input type="textbox" id="end" value="" placeholder="名前or緯度経度(例:35.6803997,139.7690174)で検索"><br>
<input type="button" id="btn" value="ナビ" onclick="searchNav()">

<style>
  #map {
    height: 80vh;
    width: 100vw;
  }
</style>

<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.6803997, lng:139.7690174},  //東京駅中心
    zoom: 5, //国全体が見えるように
    mayTypeId: google.maps.MapTypeId.ROADMAP //ナビ
  });
  <% @spots.each do |spot|%>
      ( function() {
        let markerLatLng = new google.maps.LatLng({lat: <%= spot.lat %>, lng: <%= spot.lng %>}); // 緯度経度のデータ作成
        let marker = new google.maps.Marker({
          position: markerLatLng,
          map: map,
          animation: google.maps.Animation.BOUNCE
      });
//マーカーをクリックしたとき、詳細情報を表示
      let infowindow = new google.maps.InfoWindow({
        position: markerLatLng,
        content: "<a href='<%= spot_path(spot) %>' ><%= spot.title %></a>" + "(緯度,経度)=(<%= spot.lat %>,<%= spot.lng %>)" 
      }); //ナビ用で緯度経度表示
      marker.addListener('click', function() {
        infowindow.open(map, marker);
        });
      })();
    <% end %>
}

function searchNav(){
  let inputstart = document.getElementById('start').value;
  let inputend = document.getElementById('end').value;
  let directionsService = new google.maps.DirectionsService;
  let directionsRenderer = new google.maps.DirectionsRenderer;
  directionsService.route({
        origin: inputstart, //スタート地点
        destination: inputend,　//ゴール地点
        travelMode: google.maps.TravelMode.DRIVING　//電車・徒歩ver対応しない為自動車に限定
    }, function(response, status) {
        console.log(response);
        if (status === google.maps.DirectionsStatus.OK) {
            // ルート検索の結果を地図上に描画
            directionsRenderer.setMap(map);
            directionsRenderer.setDirections(response);
            directionsRenderer.setOptions({
              polylineOptions: {
                  strokeColor: '#f246c5',
                  strokeOpacity: 0.8,
                  strokeWeight: 8
              }
        });
        alert("ルート検出！")
        // directionsDisplay.setPanel(document.getElementById('directions_panel'));
        }else{
          alert("すみません、検索出来ません")
        }
    });
}
</script>
