<div class="show-container container">
  <div class="spot-title row">
    <h2 class="font-weight-bolder"><%= @spot.title %></h2>
  </div>
  <div class="show-row row col-12 d-flex justify-content-between">
    <div class="post-left">
      <div id='map'></div>
    </div>
    <div class="show-right">
      <div class="show-img text-center">
      <%= image_tag @spot.get_image_id, class:'card-img-show' %>
      </div>
      <div class="show-body text-center">
        <%= @spot.body %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="comment d-flex justify-content-between">
      <ul class="spot-comment">
          <% @spot.spot_comments.each do |spot_comment| %>
            <li>
              <%= spot_comment.comment %><br>
              <div class="text-right mr-2">
                <%= spot_comment.created_at.strftime('%Y/%m/%d') %>
                by <%= spot_comment.user.name %>
                <% if @spot_comment.user == @current_user || @current_user.name == "admin"  %>
                  <%= link_to "削除", spot_spot_comment_path(spot_comment.spot, spot_comment), method: :delete %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
    </div>
    <div class="comment-right text-center">
      <div class="like">
        <% if @spot.liked_by?(@current_user) %>
          <%= link_to spot_likes_path(@spot), method: :delete do %>
          <%= @spot.likes.count %><i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
        <% end %>
        <% else %>
          <%= link_to spot_likes_path(@spot), method: :post do %>
            <%= @spot.likes.count %><i class="fas fa-heart" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
      <div class="comment-form">
        <%= form_with model: [@spot, @spot_comment] do |f| %>
          <%= f.text_area :comment, placeholder: "コメントを入力してください" %><br>
          <%= button_tag(type: "submit", class: 'btn comment-btn') do %>
            <i class="fas fa-comment" style="color: #d879ac;"></i>
          <% end %>
        <% end %>
      </div>
      <div class="spot-edit">
        <% if @spot.user == @current_user || @current_user.name == "admin"  %>
          <%= link_to "編集", edit_spot_path(@spot), class: 'btn btn-success' %>
          <%= link_to "削除", spot_path(@spot), method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style>
  #map {
    height: 45vh;
    width: 45vh;
  }
</style>

<script>
function initMap() {
  let latlng = new google.maps.LatLng(<%= @spot.lat %>, <%= @spot.lng %>);
  let styles = [
     {
      stylers: [
       { "saturation": 0 },
       { "lightness": 0 }
      ]
     }
    ];
  let map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    styles: styles,
    center: latlng
  });
  let transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);
    ( function() {
      let markerLatLng = new google.maps.LatLng({lat: <%= @spot.lat %>, lng: <%= @spot.lng %>});
      let marker = new google.maps.Marker({
        position: markerLatLng,
        map: map
      });
      let infowindow = new google.maps.InfoWindow({
        position: markerLatLng,
        content: "<a><%= @spot.title %></a>"
      }); 
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
   })();
}
</script>