<div class="container">
  <%= form_with scope: :session, url:login_path, local: true do |f| %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= f.submit "ログイン" %>
    
  <% end %>
</div>