<div class="container">
  <div class="registrations-form">
    <h1>会員情報編集</h1>
    <%= form_with model: @user, method: :patch do |f| %>
      <div class="field">
        <%= f.label "ユーザーネーム" %><br>
        <%= f.text_field :name%>
      </div>
      <div class="field">
        <%= f.label "メールアドレス" %><br>
        <%= f.text_field :email, class:"col-7" %>
      </div>
      <div class="registrations-btn">
        <%= f.submit "変更", class:"btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>