<div class="container">
  <div class="registrations-form">
    <h1>新規登録</h1>
    <%= form_with model: @user, url: users_path, local: true do |f| %>
    <div class="field">
      <%= f.label "ユーザーネーム" %><br>
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label "メールアドレス" %><br>
      <%= f.text_field :email %>
    </div>
    
    <div class="field">
      <%= f.label :password %><br>
      <%= f.text_field :password %>
    </div>
    
    <div class="field">
      <%= f.label "確認用password" %><br>
      <%= f.text_field :password_confirmation %>
    </div>
    
    <div class="registrations-btn">
      <%= f.submit "新規登録", class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>