<!DOCTYPE html>
<html>
  <head>
    <title>LetsLa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= alert %>
    <% if @current_user == nil %>
      <%= render 'layouts/header_yet' %>
    <% else %>
      <%= render 'layouts/header_on' %>
    <% end %>
    <%= yield %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_KEY'] %>&callback=initMap"></script>
  </body>
</html>

<script> //ヘッダー用jsまとめて記述
  $(function() {
    $('.hamburger').click(function() {
        $(this).toggleClass('active');

        if ($(this).hasClass('active')) {
            $('.globalMenuSp').addClass('active');
        } else {
            $('.globalMenuSp').removeClass('active');
        }
    });
});
</script>